<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_braintree">

    <application>
        <activity
            android:name=".FlutterBraintreeDropInActivity"
            android:theme="@style/bt_transparent_activity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".DropInActivity"
            android:theme="@style/bt_transparent_activity">
        </activity>
        <activity
            android:name=".FlutterBraintreeCustom"
            android:exported="true"
            android:theme="@style/bt_transparent_activity"/>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>